<div id="header">
  <h1 class="honk-header">NASA NEO Asteroid Info</h1>
</div>

<!---color key-->
<div id="legend">
  <h3>Distance Legend</h3>
  <ul>
    <li><span style="background:red"></span> Closest</li>
    <li><span style="background:orange"></span></li>
    <li><span style="background:yellow"></span></li>
    <li><span style="background:green"></span></li>
    <li><span style="background:blue"></span> Farthest</li>
  </ul>
</div>


<div id="filters" style="margin-bottom: 20px; text-align: center;">
  <button id="filter-closest">Closest (Top 4)</button>
  <button id="filter-farthest">Farthest (Top 4)</button>
  <button id="filter-top100">Top 100 (Closest → Farthest)</button>
  <button id="filter-smallest">Smallest (Top 4)</button>
  <button id="filter-largest">Largest (Top 4)</button>
</div>

<div class="scroll-wrapper">
  <div class="space-container">
    <img id="earth" src="/images/earth.png" alt="Earth">
    <div id="asteroid-space">
      <img id="asteroid" src="/images/asteroid.png" alt="Asteroid">
    </div>
  </div>
</div>
<div class="displayWrap">
    <div id="distance-display">Click on an asteroid to see the distance!</div>
</div>

<div class="asteroidHead_Wrap">
    <h2 id="asteroid-heading">4 Closest Asteroids</h2>
</div>

<div class="centerList"><ul id="asteroid-list"></ul></div>
<div id="pageControls">
    <button id="prevPage">Previous</button>
    <span id="pageIndicator"></span>
    <button id="nextPage">Next</button>
</div>